<h3>Sign up here!</h3>

<form action="/signup" method="post">
    <input type="text" placeholder="Username" name="username">
    <input type="password" placeholder= "Password" name="password">
    <input type="submit" value="Sign Up">
</form>