
<h3><%=@ringer.name %></h3>

<% if !current_user.team.ringers.include?(@ringer) %>
    <form action="/ringer_teams" method="post">
        <input type="hidden" name="ringer_id" value="<%= @ringer.id %>%">
        <input type="date">
        <input type="submit" value="Hire this Ringer!">
    </form>
    <%else%>
        <p>You already hired this Ringer</p>
<% end %>
